<div class="ablum-item">
    <div class="hd">
        <h3><a href="#!album/<%= albumId %>/p1"><%= title %></a></h3>
        <span class="desc"><%= description %></span>
    </div>
    <div class="bd">
        <a href="#!album/<%= albumId %>/p1"><img src="<%= albumPic %>" width="299"/></a>
    </div>
    <div class="ft">
        <span class="nums"><%= itemTotal %>件宝贝</span>
        <a href="#" class="J-fav<%if(isLiked){%> added<%}%>"><%if(isLiked){%>取消收集<%}else{%><em>收集</em><b><%= likeNum %></b><%}%></a>
    </div>
</div>
