<div class="user">
    <img src="http://wwc.taobaocdn.com/avatar/getAvatar.do?userId=<%= albumInfo.user.userId %>&width=40&height=40&type=sns" width="48"/>
    <h3><%= albumInfo.user.userNick %></h3>
</div>
<div class="seperater"></div>
<div class="desc">
    <%= albumInfo.description %>
</div>
<div class="album-handle clearfix">
    <a href="#" class="J-fav<%if(albumInfo.like=='true'){%> added<%}%>"  data-likeNum="<%= albumInfo.likeNum %>"><%if(albumInfo.like=="true"){%>取消收集<%}else{%><em>收集</em><b><%= albumInfo.likeNum %></b><%}%></a>
    <a href="#" class="comments"><em></em><%= albumInfo.commentNum %></a>
</div>
