<div class="reply">
    <a href="#!like/<%= userId %>/p1" class="avatar"><img src="<%= avatar %>" width="48" height="48"/></a>
    <span class="author"><%= author %></span>
    <p class="comment"><%= content %></p>
    <div class="reply-btn"><a href="#" class="J-reply" data-id="<%= commentId %>">回复</a></div>
</div>


