<div class="single-item">
  <div class="main-view">
    <div class="big-pic"><img src="<%= img.url + '_500x450.jpg' + Youai.imageFormat %>" ></div>
    <div class="item-info">
      <p class="price"><a style="color: #333" href="<%= 'http://a.m.taobao.com/i' + itemId + '.htm' %>">
        ￥<%= (originalPrice / 100).toFixed(2) %></a></p>
      <p class="comment-count"><strong><%= commentNum %></strong><span></span></p>
      <p class="like-count">
        <strong><%= likeNum %></strong>
        <span class="<%= like == 'true' ?  'liked' : '' %>"></span></p>
    </div>
  </div>
</div>

<header>
  <h1><a class="isv" href="<%= isvInfo.url %>">
    来自<span class="isv-name"><%= isvInfo.name %></span></a>
    <a style="color: #333" href="<%= 'http://a.m.taobao.com/i' + itemId + '.htm' %>" class="description">
      <%= description %></a>
  </h1>
</header>
<div class="go-buy"><a href="<%= 'http://a.m.taobao.com/i' + itemId + '.htm' %>" >
  <span></span>去购买</a></div>
<div class="separator"></div>

<section class="recommendations">
<% if (tags && tags.length) { %>
<header>
  <h1>相关推荐</h1>
</header>
<ul class="keywords">
  <% for (var i = 0; i < Math.ceil(tags.length / 5); i++) { %>
  <li>
    <% for (var j = i * 5; j < Math.min(tags.length, (i+1)*5 ); j++) { %>
      <% if (i == 0 && j == 0) { %>
        <a href="#!association/<%= itemId %>"><%= tags[j].name %></a>
      <% } else { %>
        <a href="#!search/<%= tags[j].name %>/p1"><%= tags[j].name %></a>
      <% } %>
    <% } %>
  </li>
  <% } %>
</ul>
<% } %>
</section>
