<a href="#!album/<%= album.albumId %>/p1" class="collection-title">该宝贝所属专辑
  <span href="#"> “<%= album.description %>” </span>共 <%= album.items.length %> 件宝贝</a>

<div class="collection">
  <div class="main-view">
    <div class="big-pic"><img src="<%= img.url + '_500x450.jpg' %>" ></div>
    <div class="item-info">
      <p class="price"><a style="color: #333" href="<%= 'http://a.m.taobao.com/i' + itemId + '.htm' %>">
        ￥<%= (originalPrice / 100).toFixed(2) %></a></p>
      <p class="comment-count"><strong><%= commentNum %></strong><span></span></p>
      <p class="like-count">
        <% if (parseInt(likeNum) > 0) { %>
          <strong><%= likeNum %></strong>
        <% } %>
        <span class="<%= like == 'true' ?  'liked' : '' %>"></span></p>
    </div>
  </div>
  <% if (album.items.length) { %>
  <div class="collection-items">
    <span class="up-arrow"></span>
    <span class="down-arrow"></span>
    <div class="vslide">
      <ul>
        <% for (var i = 0; i < album.items.length; i++) { %>
          <li data-index="<%= i %>">
            <img class="lazy" src="http://a.tbcdn.cn/mw/base/styles/component/more/images/Loading_Taobao_320.gif"
            data-src="<%= _.filter(album.items[i].images, function(img) { return img.type == '0' })[0].url + '_110x110.jpg' %>" >
          </li>
        <% } %>
      </ul>
    </div>
  </div>
  <% } %>
</div>

<header>
  <h1><a class="isv" href="<%= isvInfo.url %>">
    来自<span class="isv-name"><%= isvInfo.name %></span></a>
    <a style="color: #333" href="<%= 'http://a.m.taobao.com/i' + itemId + '.htm' %>" class="description">
      <%= description %></a>
  </h1></header>
<div class="go-buy"><a href="<%= 'http://a.m.taobao.com/i' + itemId + '.htm' %>" ><span></span>去购买</a></div>
<div class="separator"></div>

<section class="recommendations">
</section>
