<li>
  <a href="#!detail/<%= itemId %>"><img class="lazy" dataimg="<%= images[0].url %>" src="<%= images[0].url %>"  height="<%= images[0].height %>" width="150"/></a>
  <span class="desc"><b>￥<%= originalPrice %></b><a href="#" class="J-zoom"></a></span>
  <% if(comments){%>
    <div class="pop-comment"><%= comments %><i></i></div>
  <% } %>
</li>