  <a href="#!detail/<%= itemId %>"><img class="lazy" dataimg="<%= imgUrl %>" src=""  height="<%= itemHeight %>" width="150" <%if(comment){%>data-comment="<%= comment %>"<%}%>/></a>
  <span class="desc"><b>￥<%= originalPrice %></b><a href="#" class="J-zoom"></a></span>
  
