<div class="slider-holder" id="J-sliderHolder" style="display:none;">
      <div class="sliderWrap">
        <div id="<%= ID %>" class="goods-slider" style="overflow: hidden;">
            <ul id="<%= ID %>_UL">
              <% for (var i = 0; i < images.length; i++) { %>
                <li><img class="lazyImg" data-src="<%= images[i].url %>_570x570.jpg<%= Youai.imageFormat%>" src="http://img02.taobaocdn.com/tps/i2/T1TKonXnVXXXaG4.rS-300-300.png"/></li>
              <% } %>
            </ul>
        </div>
        <div class="good-operater">
           <a href="#" class="J-like <%= (isLiked ? 'on' : '')%>"></a><span class="like-num">添加喜欢成功</span>
        </div>
      </div>
      <div class="nav-holder"><a href="#" class="prev" id="J-prev"></a><a href="#" class="next" id="J-next"></a></div>
</div>

